{
  "$schema": "https://codesandbox.io/schemas/tasks.json",
  "setupTasks": [
    {
      "name": "System Install",
      "command": "npm install"
    }
  ],
  "tasks": {
    "start": {
      "name": "Launch AI Queen",
      "command": "npm start",
      "runAtStart": true
    }
  }
}
